:root {
	--colBack: #000814;
	--colBody: #001d3d;
	--colThird: #003566;
	--colText: white;
}

html{
    font-family: 'Lucida Sans Unicode', Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin:0;
	padding:0;
    min-height: 100vh;
    height: auto;
    padding-bottom: 5vh;
	background-color: var(--colBody);
	border: 1vw solid var(--colBack);
    box-sizing: border-box;
}

section.header {
    text-align: center;
    padding-top: 2vh;
    color:var(--colText);
    width:98vw;
}

section.welcomeMain {
    text-align: center;
    padding-top: 35vh;
    color:var(--colText);
    width:98vw;
}

section.aboutMain {
    text-align: left;
    padding-top: 5vh;
    padding-left: 10vh;
    color:var(--colText);
    width:88vw;
}

.img1 {
    float: left;
}

img {
    width: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
}

section.body {
    margin-right: 5vw;
    margin-top:5vw;
}

a, a:hover, a:active, a:visited {
    color: var(--colText);
    text-decoration: none; 
	outline: none;
}


section.bottom {
    filter:invert();
    margin-top: 5vh;
    width: 98vw;
	text-align: center;
}
